<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button components</title>
    <script src="/src/js/components/button.js"></script>
    <script src="/src/js/aside_menu.js"></script>
    <link rel="stylesheet" href="/src/css/index.css">
</head>
<body>
    Component Sample Page
    <div class="wrapper">
        <aside class="menu">
            <ul is="aside-menu"></ul>
        </aside>
        <main class="main">
            <user-button>버튼임</user-button>
            <user-button>버튼임23</user-button>
            <button is="user-button-define">Alert 버튼</button>
        </main>
    </div>
</body>
</html>